<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Budget EZ - Waisman Laboratory for Brain Imaging and Behavior</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
        <style>
            body {
              padding-top: 40px;
              padding-bottom: 40px;
              background-color: #eee;
            }

            .ng-invalid{
                border-color: #b94a48;
                -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
                box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
            }
            .content {background-color: white;}
        </style>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
    </head>
    <body ng-app="budgetApp">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="container content">
            <h1 class="page-header">Budget EZ</h1>
            <div class="row">
                <div ng-controller="BudgetCtrl">

                    <div class="col-md-6">
                        <form name="studyForm">
                            <div class="form-group">
                                <label for="duration">Estimated duration of study (months)</label>
                                <input class="form-control" name="duration" type="number" min="0" ng-model="form.duration" required>
                            </div>

                            <div class="form-group">
                                <label for="nSubjects">Number of subjects</label>
                                <input class="form-control" name="nSubjects" min="0" type="number" ng-model="form.nSubjects" required>
                            </div>

                            <div class="form-group">
                                <label for="hours">Hours of participation/participant</label>
                                <input type="number" class="form-control" ng-model="form.participantHours" required>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="personnelType">I am a</label>
                                    <select name="personnelType" ng-model="form.myType" class="form-control"
                                            ng-options="pType.type for pType in personnelTypes">
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group" ng-class='{"has-error": studyForm.percent.$error.min || studyForm.percent.$error.max}'>
                                    <label for="percentTime">Percent time (0-100)</label>
                                    <input type="number" name="percent" class="form-control" ng-model="form.myPercentTime" min="0" max="100" required>
                                    <span class="help-block error" ng-show="studyForm.percent.$error.min || studyForm.percent.$error.max">
                                                    The value must be in range 0 to 100</span>
                                </div>
                            </div>
                        <div ng-repeat="person in additionalPersonnel track by $index">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="person{{$index + 2}}-type">Person {{$index + 2}} (Type)</label>
                                        <select name="person{{$index+ 2}}-type"
                                                ng-model="additionalPersonnel[$index]" class="form-control"
                                                ng-options="pType.type for pType in personnelTypes">
                                        </select>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group"
                                    ng-class='{"has-error": studyForm.percent{{$index + 2}}.$error.min || studyForm.percent{{$index + 2}}.$error.max}'>
                                    <label for="person{{$index + 2}}">Person {{$index + 2}} (Percent Time)</label>
                                    <div class="input-group">
                                        <input name="percent{{$index + 2}}"
                                                type="number" class="form-control"
                                                ng-model="additionalPersonnelPT[$index]" min="0" max="100" required>
                                        <span class="input-group-btn">
                                            <button ng-click="removePerson($index)" class="btn btn-default">&times;</button>
                                        </span>
                                    </div>
                                    <span class="help-block error" ng-show="studyForm.percent{{$index + 2}}.$error.min || studyForm.percent{{$index + 2}}.$error.max">
                                                    The value must be in range 0 to 100</span>
                                </div>
                            </div>
                        </div>
                        </form>
                        <button class="btn btn-default" ng-click='addPerson()'>Add person</button>
                        <a data-target="" href="#" class="pull-right" ng-click="reset()">Reset</a>
                     </div><!-- end col-md-->

                    <div class="col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">Estimated Costs</div>
                            <div class="panel-body">
                                <p>
                                    Staff Costs:
                                    <strong>{{computeTotalStaffCosts(form.myType, additionalPersonnel) | currency}}</strong>
                                </p>
                                <p>
                                    Other Costs:
                                    <strong>{{computeOtherCosts(form.nSubjects, form.participantHours) | currency}}</strong>
                                </p>
                                <p>
                                    TOTAL:
                                    <strong class="text-success">{{computeTotalStaffCosts(form.myType, additionalPersonnel) +
                                                computeOtherCosts(form.nSubjects, form.participantHours) | currency }}</strong>
                                </p>
                            </div>
                        </div>
                    </div>
                </div><!-- end controller -->
            </div><!-- end row -->
            <br>
            <p class="help text-muted">For more information, see <a href="https://wiki.keck.waisman.wisc.edu/wiki/pages/77r2T0q7/Project_Management_Notes_101013.html">the wiki page</a>.</p>
        </div><!--end container -->

        <script>
            (function() {

            ///////////////
            // Constants //
            ///////////////
            var HOURLY_SCAN_COST = 475; // Cost per hour of scan time
            var HOURLY_PAYMENT = 25; // Payment/hr to subject for MRI and Psychophys
            var BEHAVIORAL_HOURLY_PAYMENT = 15; // Payment/hr for Behavioral tasks
            var RADIOLOGY_READ_COST = 50; // Radiology read cost
            var MRI_SUPPLIES_COST = 1; // Cost of supplies per subject
            var PSYCHOPHYS_SUPPLIES_COST = 5;
            var BEHAVIORAL_SUPPLIES_COST = 1;
            var ROOM_COST = 100; // Room cost/hr
            var CONTINGENCY_FACTOR = 1.05;

            /////////////////////
            // Utility methods //
            /////////////////////

            /**
             * Return the MRI costs given the number of subjects and hours spent
             * per subject.
             */
            var mriCost = function(nSubjects, hoursPerSubject) {
                return (HOURLY_SCAN_COST * hoursPerSubject +
                        HOURLY_PAYMENT * hoursPerSubject) * nSubjects +
                        RADIOLOGY_READ_COST * nSubjects +
                        MRI_SUPPLIES_COST * nSubjects;

            };

            /**
             * Return the Psychophys costs given the number of subjects and
             * hours spent per subject.
             */
            var psychophysCost = function(nSubjects, hoursPerSubject) {
                return nSubjects * (ROOM_COST * hoursPerSubject +
                                    HOURLY_PAYMENT * hoursPerSubject) +
                        PSYCHOPHYS_SUPPLIES_COST * nSubjects;
            };

            /**
             * Return the behavioral task costs given the number of subjects
             * and hours spent per subject.
             */
            var behavioralCost = function(nSubjects, hoursPerSubject) {
                return nSubjects * (BEHAVIORAL_SUPPLIES_COST +
                                    BEHAVIORAL_HOURLY_PAYMENT * hoursPerSubject);
            };

            /**
             * Return the cost for a single staff member
             */
            var computeStaffCost = function(salary, duration, percentTime){
                return salary + duration * percentTime / 12;
            };

            /////////////
            // The App //
            /////////////

            var app = angular.module("budgetApp", []);
            app.controller("BudgetCtrl", function($scope){
                personnelTypes = [
                    {type: "Graduate student", salary: 33800}, // Includes tuition remission
                    {type: "Post-doc", salary: 61000},
                    {type: "Scientist", salary: 75000},
                    {type: "Project Manager", salary: 47000}
                ];
                $scope.personnelTypes = personnelTypes.slice(0); // Copy the array and bind to scope
                // Initial values
                $scope.form = {
                    duration: 0,
                    nSubjects: 0,
                    participantHours: 0,
                    myPercentTime: 0,
                    myType: personnelTypes[0]
                };
                $scope.additionalPersonnel = []; // Array of {type: String, salary: Number}
                $scope.additionalPersonnelPT = [];  // Array of Numbers, the percent times for each addtl personnel

                /** Add a person */
                $scope.addPerson = function() {
                    $scope.additionalPersonnel.push(personnelTypes[0]);
                    $scope.additionalPersonnelPT.push(0);
                }

                /** Remove a person at index. */
                $scope.removePerson = function(index) {
                    $scope.additionalPersonnel.splice(index, 1);
                    $scope.additionalPersonnelPT.splice(index, 1);
                }

                /** Reset all the form data */
                $scope.reset = function(){
                    $scope.form = {
                        duration: 0,
                        nSubjects: 0,
                        participantHours: 0,
                        myPercentTime: 0,
                        myType: personnelTypes[0]
                    };
                    // Clear personnel
                    $scope.additionalPersonnel = [];
                    $scope.additionalPersonnelPT = [];
                }

                /* Compute all staff costs, including additional personnel */
                $scope.computeTotalStaffCosts = function(myType, otherPersonnel){
                    var total = computeStaffCost(myType.salary, $scope.form.duration, $scope.form.myPercentTime);
                    otherPersonnel.forEach(function(each, i){
                        total = total + computeStaffCost(each.salary, $scope.form.duration, $scope.additionalPersonnelPT[i]);
                    });
                    return total;
                };

                /* Compute costs of MRI, behavioral, and psychophys experiments. */
                $scope.computeOtherCosts = function(nSubjects, hoursPerSubject) {
                    return (mriCost(nSubjects, hoursPerSubject) +
                            psychophysCost(nSubjects, hoursPerSubject) +
                            behavioralCost(nSubjects, hoursPerSubject))
                            * CONTINGENCY_FACTOR;
                };

            });
            }).call(this);
        </script>
    </body>
</html>
